body {
    background-color: #555555 !important;
}

button {
    margin-right: 10px;
}

.navcustom {
    width: 100%;
    justify-content: center;
}

.btn-smaller, .input-c, .butt-go {
    padding: 3px;
    font-size: 12px;
    border-radius: 10px;
    border: solid black 1px;
    width: 145px;
    margin-top: 5px;
    float: left;
}

.input-c {
    background-color: #cccccc;
    padding: 3px;
    
}

#inputApikey {
    margin-right: 10px;
}

.contenu-c {
    /* display: none; */
    position: absolute;
    top: 240px;
    bottom: 80px;
    right: 80px;
    left: 80px;
    margin: 0 auto;
    overflow-y: scroll;
    border: solid black 1px;
    background-color: #cccccc;

}