body {
    /* background-color: #444444 !important; */
    color: aqua !important;
}

.bgnavbarperso li a {
color: #ffffff !important;
}

.bgnavbarperso li a:hover {
    color: #4499cc !important;
}
button {
    margin-right: 10px;
}